<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <h3>Mensagem enviada pelo site "pousadasantanna.com"</h3>
    <p>
      Nome: <%= @name %><br />
      Empresa: <%= @company %><br />
      E-mail: <%= @email %><br />
      Telefone: <%= @phone %><br />
    </p>

    <h3>Mensagem:</h3>
    <div><%= @message.gsub(/\n/, '<br />').html_safe %></div>
  </body>
</html>
