<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Mensagem enviada pelo site "pousadasantanna.com"</h2>
    <br />
    <p>Empresa: <%=@company%></p>
    <p>Nome: <%=@name%></p>
    <p>E-mail: <%=@email%></p>
    <p>Telefone: <%=@phone%></p>
    <p>Mensagem:</p>
    <br />
    <div><%=@message%></div>
  </body>
</html>
