%h2 Sobre a pousada
%br

%p= @website_detail.intro

.center#about_us_photos
  .row
    .col-sm-6= image_tag @website_detail.photo1, class: 'img-responsive'
    .col-sm-6= image_tag @website_detail.photo2, class: 'img-responsive'

  %br

  .row
    .col-sm-6= image_tag @website_detail.photo3, class: 'img-responsive'
    .col-sm-6= image_tag @website_detail.photo4, class: 'img-responsive'
