%h2 Sobre a pousada
%br

%p= @website_detail.intro

#about_us_photos.center
  .row
    .span6= image_tag @website_detail.photo1
    .span6= image_tag @website_detail.photo2

  %br

  .row
    .span6= image_tag @website_detail.photo3
    .span6= image_tag @website_detail.photo4
