%h2 Fale conosco
%br

.center
  %h4
    (12) 3646-1282 /
    = mail_to 'pousadasantanna@gmail.com'

#form_contact_us
  %h3 Ou nos envie uma mensagem:

  = form_for :message, url: messages_path, method: :post, html: { class: 'form-horizontal'} do |f|
    - @form_fields.each do |fields|
      .form-group
        %label.control-label.col-sm-2.col-sm-offset-1{ for: "input#{fields[:title]}" }= fields[:title]

        .col-sm-7
          -if fields[:type] == :text_field
            = f.text_field fields[:field], placeholder: fields[:placeholder], class: 'form-control'
          -elsif fields[:type] == :text_area
            = f.text_area fields[:field], rows: 5, placeholder: fields[:placeholder], class: 'form-control'

    .form-group
      .col-sm-3.col-sm-offset-3
        %button.btn.btn-primary{ type: 'submit' } Enviar
