.jumbotron#about_us=      render 'about_us'
.jumbotron#gallery=       render 'gallery'
.jumbotron#accommodation= render 'accommodation'
.jumbotron#contact=       render 'contact'
.jumbotron#localization=  render 'localization'
