#about_us.hero-unit=      render 'about_us'
#gallery.hero-unit=       render 'gallery'
#accommodation.hero-unit= render 'accommodation'
#contact.hero-unit=       render 'contact'
#localization.hero-unit=  render 'localization'
