.center
  %h1 Fale conosco
%br/
%span.bold Telefone:
%span (12) 3646-1282
%br/
%span.bold Email:
%span=link_to 'pousadasantanna@gmail.com', 'mailto:pousadasantanna@gmail.com'
%br/
%br/
%br/
#center_form
  %p
    %strong Formulário de contato:
  =form_for :contact_form, :url => contact_path, :method => :post do |f|
    %table
      %tr
        %td
          %span Nome *
        %td= f.text_field :name
      %tr
        %td
          %span Empresa
        %td= f.text_field :company
      %tr
        %td
          %span E-mail *
        %td= f.text_field :email
      %tr
        %td
          %span Telefone
        %td= f.text_field :phone
      %tr
        %td &nbsp;
      %tr
        %td
          %span Assunto
        %td= f.text_field :message_subject
      %tr
        %td{:colspan => "2"}= f.text_area :message, :value => 'Digite aqui sua mensagem...'
    %br/
    #center_button=f.submit 'Enviar', disable_with: 'Enviando...'
