!!!
%html(lang='pt-BR')
  %head
    %meta(charset='utf-8')
    %meta(http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1')
    %meta(name='viewport'    content='width=device-width, initial-scale=1.0')
    %meta(name='description' content='Pousada Santanna - Acomodações em Roseira-SP.')
    %meta(name='keywords'    content='pousada, hotel, santanna, roseira, aparecida, guaratinguetá, pindamonhangaba, vale do paraíba')
    %meta(name='title'       content='Pousada Santanna')
    %meta(name='url'         content='http://www.pousadasantanna.com')
    %meta(name='robots'      content='all')

    %title= content_for?(:title) ? yield(:title) : 'Pousada Santanna'
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    %link{ href: '/favicon.ico', rel: 'shortcut icon', type: 'image/x-icon' }/

  %body
    .container-fluid
      .row-fluid
        .col-sm-8.col-sm-offset-2
          %nav.navbar.navbar-default
            .container-fluid
              .navbar-header
                %button.navbar-toggle.collapsed{'aria-expanded' => 'false', 'data-target' => '.navbar-collapse', 'data-toggle' => 'collapse', type: 'button'}
                  %span.sr-only Toggle navigation
                  %span.icon-bar
                  %span.icon-bar
                  %span.icon-bar

              .collapse.navbar-collapse
                %ul.nav.navbar-nav
                  %li
                    %a.scroll{ href: '#about_us' } Sobre a pousada
                  %li
                    %a.scroll{ href: '#gallery' } Galeria
                  %li
                    %a.scroll{ href: '#accommodation' } Acomodações
                  %li
                    %a.scroll{ href: '#contact' } Fale Conosco
                  %li
                    %a.scroll{ href: '#localization' } Localização

          - if flash.any?
            .row-fluid
              .col-sm-12
                = bootstrap_flash

      .row-fluid
        .col-sm-8.col-sm-offset-2
          .center
            #image_header= link_to image_tag('header.png'), root_path

            .well
              %h2.headline2= @website_detail.headline1
              %h4= @website_detail.headline2

          = yield

          %footer
            %p
              &copy; #{Time.zone.today.year} Pousada Satanna

  = javascript_include_tag 'application'

  / Google Analytics
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2643450-5']);
    _gaq.push(['_setDomainName', 'pousadasantanna.com']);
    _gaq.push(['_trackPageview']);

    (function(){
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
